<mat-card style="padding: 0">
    <mat-tab-group dynamicHeight mat-stretch-tabs *ngIf="showAccounts">
        <mat-tab >
            <ng-template mat-tab-label>
                Accounts
            </ng-template>

            <app-account-list [accounts]="accounts" [coin]="coin"> </app-account-list>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                Details
            </ng-template>

            <app-coin-form [coinId]="coin?.id"> </app-coin-form>
        </mat-tab>
    </mat-tab-group>
    <div style="width: 100%; overflow: hidden">
        <app-coin-form  *ngIf="!showAccounts" [coinId]="coin?.id"> </app-coin-form>
    </div>
</mat-card>