<mat-sidenav-container class="app-inner">
    <mat-sidenav fxLayout="column" fxLayoutAlign="center space-between" #nav class="app-sidebar-panel" [mode]="isOver() ? 'over' : 'side'"
        [opened]="!isOver()">

        <div fxFlex="64px" class="logo_box" fxLayout="row" fxLayoutAlign="start center">
            <div class="logo">
                 <img src="./assets/logo.png">
            </div>
            <div class="text">
                CryptoQL
            </div>
        </div>

        <div fxFlex style="overflow: auto">
            <mat-nav-list *ngFor="let route of routes" style="padding-top: 0">
                <mat-list-item (click)="closeNav()"
                   [routerLink]="route.path"
                   routerLinkActive="menu-active"
                   [routerLinkActiveOptions]="{exact:false}">
                    <mat-icon style="margin-right: 6px">{{ route.icon }}</mat-icon>
                    {{ route.name }}
                </mat-list-item>
            </mat-nav-list>
        </div>

        <div class="textA4s" *ngIf="user">
            <span fxLayout="row">
                <thumbnail [image]="user.picture"> </thumbnail>
                <span fxLayoutAlign="center" fxLayout="column">
                    <b>{{ user.firstName }} {{ user.lastName }}</b>
                    <span>{{ formatUserEmail(user.email)}}</span>
            </span>
            </span>
        </div>

    </mat-sidenav>
    <app-toolbar [toggleMenuButton]="isOver()" [nav]="nav"></app-toolbar>

    <router-outlet> </router-outlet>

</mat-sidenav-container>
