/* Structure */
.container {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.header {
  min-height: 64px;
  display: flex;
  align-items: baseline;
  padding: .5em;
  font-size: 20px;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
}

.mat-table {
  overflow: auto;
  border-top: none;
  padding: .5em;
}

.footer {
  padding: 1em;
  border-top: 1px solid #ccc;
}

.mat-column-select {
  max-width: 48px;
  overflow: inherit;
}

.user-row {
  cursor: pointer;
  position: relative;
}

.user-row:hover {
  background: rgba(0, 0, 0, .1);
}

.active {
  background: #eaeaea;
}

.ng-star-inserted {
  padding: 0 !important;
}
