<div fxLayout="column" fxLayoutAlign="center space-between" [ngStyle]="{ 'height':'500px', padding: '1em', overflow: 'hidden'}">
    <h2 fxFlex="10%" mat-dialog-title>
         <span *ngIf="!data.account?.id">
             Enter new
         </span>
          <span *ngIf="data.account?.id">
             Update
         </span>
         account details for {{data.coinName}}
    </h2>

    <mat-dialog-content fxFlex>
        <div *ngIf="form">
            <form [formGroup]="form" fxLayout="column" role="form">
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Email" class="form-control" formControlName="email">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="Password" class="form-control" formControlName="password">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="text" placeholder="ETH Address" class="form-control" formControlName="ethAddress">
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="Total Coins" class="form-control" formControlName="totalCoins">
                </mat-form-field>

                <mat-slide-toggle formControlName="claimed" class="form-control">Claimed</mat-slide-toggle>
            </form>
        </div>
    </mat-dialog-content>
    
    <div fxFlex="15%" fxLayout="row" fxLayoutAlign="center">
        <mat-dialog-actions fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span fxFlex>
                <button mat-button (click)="cancel()">Cancel</button>
            </span>

            <span fxFlex fxLayoutAlign="end">
                <button (click)="continue()" color="primary" [disabled]="!form?.valid" mat-raised-button>continue</button>
            </span>
        </mat-dialog-actions>
    </div>

</div>
